In [56]:
import pandas as pd
import numpy as np

In [6]:
l=[1,2,3,4,5]
s=pd.Series(l)
print(type(s),"\n",s)

<class 'pandas.core.series.Series'>
 0    1
1    2
2    3
3    4
4    5
dtype: int64

In [10]:
dates=pd.date_range(start='2021-5-1',end='2021-12-5')
print(dates)

DatetimeIndex(['2021-05-01', '2021-05-02', '2021-05-03', '2021-05-04',
               '2021-05-05', '2021-05-06', '2021-05-07', '2021-05-08',
               '2021-05-09', '2021-05-10',
               ...
               '2021-11-26', '2021-11-27', '2021-11-28', '2021-11-29',
               '2021-11-30', '2021-12-01', '2021-12-02', '2021-12-03',
               '2021-12-04', '2021-12-05'],
              dtype='datetime64[ns]', length=219, freq='D')

In [42]:
dict={'r':[1,2,3],'o':[2,3,4],'s':[3,4,5]}
df=pd.DataFrame(dict)
print(df)

   r  o  s
0  1  2  3
1  2  3  4
2  3  4  5

In [23]:
print(df.head(1))

   r  o  s  h  i  n
0  1  2  3  4  5  6

In [24]:
l=[[1,2,3],
   [2,3,4]]

In [26]:
df1=pd.DataFrame(l)
print(df1)

   0  1  2
0  1  2  3
1  2  3  4

In [27]:
l=[[21,133],[22,144],[22,143],[23,156]]
print(pd.DataFrame(l,columns=['age','height']))

   age  height
0   21     133
1   22     144
2   22     143
3   23     156

In [39]:
data=pd.read_csv(r'C:\roshin\sems\sem3\ds_lab\final_xam\matplotlib\medal.csv')
print(data)

        country  medal
0         india      1
1           usa     10
2         china      2
3        russia      7
4         japan     12
5       austria      0
6     venezuela      0
7       hungary      0
8         spain      3
9         italy      4
10      ireland      2
11      england      7
12       brazil      9
13  south korea     10

In [47]:
dt=data.sort_values(by=['medal','country'])
print(dt)

        country  medal
5       austria      0
7       hungary      0
6     venezuela      0
0         india      1
2         china      2
10      ireland      2
8         spain      3
9         italy      4
11      england      7
3        russia      7
12       brazil      9
13  south korea     10
1           usa     10
4         japan     12

In [35]:
print(dt.head(2))

     country  medal
5    austria      0
6  venezuela      0

In [43]:
custom=['a','b','c']

dt=pd.DataFrame(dict,columns=custom)
print(dt)

Empty DataFrame
Columns: [a, b, c]
Index: []

In [50]:
dict1={'name':['roshin','james','robin','annie'],
      'job':['jobless','farmer','jobless','house wife'],
      'salary':[1000,10000,1000,500]}

In [51]:
data=pd.DataFrame(dict1)

In [54]:
print("avg salary per occupation is  :",data.groupby('job').sum('salary'))

avg salary per occupation is  :             salary
job
farmer       10000
house wife     500
jobless       2000

In [57]:
print(np.nan)

nan

In [58]:
dict1={'name':['roshin','james','robin','annie'],
      'job':['jobless','farmer','jobless','house wife'],
      'salary':[1000,10000,1000,np.nan]}

In [69]:
df=pd.DataFrame(dict1)
print(df)

     name         job   salary
0  roshin     jobless   1000.0
1   james      farmer  10000.0
2   robin     jobless   1000.0
3   annie  house wife      NaN

In [70]:
d=df.fillna(0)
print(d)

     name         job   salary
0  roshin     jobless   1000.0
1   james      farmer  10000.0
2   robin     jobless   1000.0
3   annie  house wife      0.0

In [71]:
comp={
    'company':['ibm','elxsi','tcs','ust'],
    'profit':[10,2,-3,0]
}
df=pd.DataFrame(comp)
print(df)

  company  profit
0     ibm      10
1   elxsi       2
2     tcs      -3
3     ust       0

In [73]:
df['profit']=np.where(df['profit']>0,True,False)
print(df)

  company  profit
0     ibm    True
1   elxsi    True
2     tcs   False
3     ust   False

In [74]:
employee_data = {
'eid': [101, 102, 103, 104, 105],
'ename': ['Rijfas', 'Rifana', 'Aflah', 'Suhail', 'Shammas'],
'stipend': [600, 700, 800, 900, 750]
}
designation_data = {
'eid': [101, 103, 104, 105],
'Designation': ['Engineer', 'Teacher', 'Lawyer', 'Artist']
}
df1=pd.DataFrame(employee_data)
df2=pd.DataFrame(designation_data)

In [76]:
df3=df1.merge(df2,on='eid')
print(df3)

   eid    ename  stipend Designation
0  101   Rijfas      600    Engineer
1  103    Aflah      800     Teacher
2  104   Suhail      900      Lawyer
3  105  Shammas      750      Artist